<div>
  <nav class="navbar navbar-dark bg-dark">
    
    <div class="navigationLinks"> 
      <!-- Navbar content -->  
       <div><p><a routerLink="home">Home</a></p> </div> 
        <p><a routerLink="home">Upcoming</a></p>
        <p><a routerLink="top-rated">Top Rated</a></p>
        <p><a routerLink="popular">Popular</a></p>
    </div>
    <div id="search-input">
        <form class="form-inline my-2 my-lg-0">
          <input [(ngModel)]="_api.search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search"
            aria-label="Search">
          <button (click)="_api.onClick()" class="btn btn-outline-success my-2 my-sm-0" type="submit"><a
            routerLink="search">Search</a></button>
        </form>
      </div>
  </nav>
</div>

