<!--Card-->
<mdb-card id="card">

  <!--Card image-->
  <div class="image-block">
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img class="card-image"
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>

  <!--/.Card image-->

  <!--Card content-->
  <mdb-card-body>
    <a class="activator px-3 mr-2">
      <mdb-icon fas icon="share-alt"></mdb-icon>
    </a>

    <!--Title-->
    <mdb-card-title>
      <h4>Card title</h4>
    </mdb-card-title>

    <hr>

    <!--Text-->
    <mdb-card-text>
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </mdb-card-text>

    <a class="link-text">
      <h5 class="waves-light" mdbWavesEffect>Read more
        <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
      </h5>
    </a>
  </mdb-card-body>
  <!--/.Card content-->
</mdb-card>
<!--/.Card-->
