<!-- <div>
    <h3>User Registration Form</h3>
    <div class="UserRegistration">
        <h4>First Name:</h4>
        <input [(ngModel)]="_api.user.firstname"
        size="50"
        type="text"
        name="firstName">
        <p>{{_api.user.firstname}}</p>
        <h4>Last Name</h4>
        <input  [(ngModel)]="_api.user.lastname"
        size="50"
        type="text"
        name="lastName">
        <p>{{_api.user.lastname}}</p>
        <h4>Email</h4>
        <input [(ngModel)]="_api.user.email"
        size="50"
        type="email"
        name="email"
        > -->
        <!-- <p>{{_api.user.email}}</p> -->
        <!-- <h4>Password</h4>
        <input [(ngModel)]="_api.user.password"
        size="50"
        type="password"
        name="pwd"> -->
        <!-- <p>{{_api.user.password}}</p> -->
        <!-- <p> </p>
        <button (click)="onClickUser()">Submit</button>
    </div>
</div> -->

<!-- Material form register -->
<!-- Default form register -->
        <form class="text-center border border-light p-5" action="#!">

                <p class="h4 mb-4">Sign up</p>
            
                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input
                        [(ngModel)]="_api.user.firstname" 
                        name="firstName"
                        type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input 
                        [(ngModel)]="_api.user.lastname"
                        name="lastname"
                        type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                    </div>
                </div>
            
                <!-- E-mail -->
                <input 
                [(ngModel)]="_api.user.email"
                name="email"
                type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
            
                <!-- Password -->
                <input 
                [(ngModel)]="_api.user.password"
                name="password"
                type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                </small>
            
            
                <!-- Newsletter -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>
            
                <!-- Sign up button -->
                <button (click)="onClickUser()"
                class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
            
                <!-- Social register -->
                <p>or sign up with:</p>
            
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a type="button" class="light-blue-text mx-2">
                    <i class="fab fa-github"></i>
                </a>
            
                <hr>
            
                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>
            
            </form>
            <!-- Default form register -->
